body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
}

.sidebar {
  background-color: #1c1c1c;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%; /* Sidebar width */
  height: 100%; /* Full height */
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding-top: 20px;
}

.sidebar .logosection {
  margin-bottom: 20px;
}

.sidebar .logosection img {
  max-width: 100%;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar a {
  color: rgb(215, 213, 213);
  text-align: left;
  padding: 15px 20px;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
}

.sidebar a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1); /* Highlight effect */
}

h1 {
  margin-left: 17%; /* Offset for content to account for the sidebar */
  padding: 20px;
}


h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}