<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gate</title>
    <link rel="stylesheet" href="/gate.css">
    
</head>
<body>
    <div class="wrapper">
    <div class="navbar">
        <div class="logosection">
            <a href="/"><img src="/Gate (White).png" class="gatewhitelogo" width="179" height="53"></a>
        </div>
        <div>
            <a href="/home">Home</a>
            <a href="/projects">Projects</a>
            <a href="/crm">CRM</a>
            <a href="/scheduling">Schedules</a>
            <a href="/finance">Financials</a>
            <a href="/documents">Documents</a>
        </div>
    </div>
</div>
<br>
<br>
    <h1>CRM</h1>
    <h4>Employees</h4>
    <div class="crm_card">
        <div class="crm_card-content">
          <h2>+Add Employee</h2>
        </div>
      </div>   
      <div id="overlay" class="prompt-overlay">
        <div class="prompt-box">
          <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Add Employee</h1>
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Name</h2>
          <input type="name" id="userInput" class="prompt-input">
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Age</h2>
          <input type="age" id="userInput" class="prompt-input">
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Position</h2>
          <input type="position" id="userInput" class="prompt-input">
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Email</h2>
          <input type="email" id="userInput" class="prompt-input">
          <button id="submitInput" class="prompt-button">Submit</button>
          <button id="cancelInput" class="cancel-button">Cancel</button>
        </div>
      </div>
    <h4>Customers</h4>
    <div class="crm_card2">
        <div class="crm_card-content2">
          <h2>+Add Customer</h2>
        </div>
      </div>   
      <div id="overlay2" class="prompt-overlay2">
        <div class="prompt-box">
          <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Add Customer</h1>
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Name</h2>
          <input type="name" id="userInput2" class="prompt-input2">
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Email</h2>
          <input type="email" id="userInput2" class="prompt-input2">
          <button id="submitInput2" class="prompt-button2">Submit</button>
          <button id="cancelInput" class="cancel-button">Cancel</button>
        </div>
      </div>
    <script src="/js/script.js"></script>
</body>
</html>
