<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gate</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <header class="gate">
        <a href="/"><img src="/Gate (White).png" class="gatelogo" width="179" height="53"></a>
        <nav class="links">
            <a href="/signup">Sign Up</a>
            <a href="/signin">Sign In</a>
        </nav>
        <div class="navigation">
        </div>
    </header>
</body>
</html>