<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gate</title>
    <link rel="stylesheet" href="/gate.css">
</head>
<body>
    <div class="navbar">
        <div class="logosection">
            <a href="/"><img src="/Gate (White).png" class="gatewhitelogo" width="179" height="53"></a>
        </div>
        <div>
            <a href="/home">Home</a>
            <a href="/tasks">Projects</a>
            <a href="/crm">CRM</a>
            <a href="/scheduling">Schedules</a>
            <a href="/finance">Financials</a>
            <a href="/documents">Documents</a>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h1>Projects</h1>
        <style>
        .project-pages {
            background-color: rgb(0, 157, 255);
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 7px;
            cursor: pointer;
        }

        .project-pages:hover {
            background-color: rgb(20, 134, 205);
        }

        .page-section {
            display: none;
        }
    
        .page-section.active {
            display: block;
        }
    </style>
    </head>
    <body>
    
    <button class="project-pages" onclick="showSection('projects')">Projects</button>
    <button class="project-pages" onclick="showSection('tasks')">Tasks</button>
    
    <div id="projects" class="page-section active">
        <br>
        <button class="add-project">+ Add Project</button>
    </div>
    
    <div id="tasks" class="page-section">
        <br>
        <button class="add-project">+ Add Task</button>
    </div>
    
    <script>
        function showSection(sectionId) {
           
            var sections = document.getElementsByClassName("page-section");
            for (var i = 0; i < sections.length; i++) {
                sections[i].classList.remove("active");
            }
    
           
            var selectedSection = document.getElementById(sectionId);
            selectedSection.classList.add("active");
        }
    </script>
    
    
    
</div>
</body>
</html>
