<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gate</title>
    <link rel="stylesheet" href="/gate.css">
</head>
<body>
    <div class="wrapper">
    <div class="navbar">
        <div class="logosection">
            <a href="/"><img src="/Gate (White).png" class="gatewhitelogo" width="179" height="53"></a>
        </div>
        <div>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/crm">CRM</a>
            <a href="/scheduling">Schedules</a>
            <a href="/finance">Financials</a>
            <a href="/documents">Documents</a>
        </div>
    </div>
</div>
<br>
<br>
    <div class="container">
        <h1>Schedules</h1>
    </div>
    <div class="schedule_card">
        <div class="schedule-content">
          <button class="add-schedule">+ Add Schedule</button>
        </div>
      </div>   
      <div id="overlay3" class="prompt-overlay3">
        <div class="prompt-box">
          <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Add Schedule</h1>
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Name</h2>
          <input type="name" id="userInput3" class="prompt-input3">
          <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Date</h2>
          <label for="schedule-date"></label>
          <input type="date" id="schedule-date">
          <br>
          <br>
          <button id="submitInput3" class="prompt-button3">Submit</button>
          <button id="cancelInput" class="cancel-button">Cancel</button>
        </div>
      </div>    
      <h3>Scheduling</h3>
      <script src="/js/script.js"></script>
</body>
</html>
